:root{
    --bg:  	#000000;
    --bg-card: #1e1a2c;
    --bg-code: #2a2835;
    --white: #D0CFCC;
    --fa-pip: #ffb641;
    --fa-pip2: #1bff80;
    --yellow: #ffd289;
    --yellow2: #E1D632;
    --green1: #33D17A;
    --blue1: #3B8BEC;
    --magenta1: #C061CB;
    --cyan1: #3AB6D2;
    --cyan2: #32D9E1;
}
*, *::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, system-ui;
    background: url(/static/images/fa_texture.webp) repeat;
    color: var(--fa-pip2);
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
h2{
    color: var(--fa-pip2);
}
h3{
    color: var(--fa-pip2);
}
nav{
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}
nav > a{
    padding: 12px;
}
a, p, li{
    font-size: 18px;
}
figure{
    text-align: center;
    color: var(--cyan2);
    margin: revert;
    font-style: italic;
}
a{
    text-decoration: none;
    color: var(--fa-pip);
    padding: 0px 1px;
}
p{
    line-height: 2rem;
}
a:hover{
    color: var(--yellow2);
}
nav, ul, li, a{
    line-height: 2em;
}
ul{
    padding-left: 15px;
}
li{
    margin-bottom: 10px;
    line-height: 2rem;
}
p code{
    font-size: 14px;
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    word-break: break-all;
}
main, footer{
    max-width: 800px;
}
main{
    margin: 0 auto;
    width: 100%;
}
footer{
    text-align: center;
    margin: auto auto 0 auto
}
article{
    margin: 1rem auto;
    margin-bottom: 3rem;
    padding: 0px 1rem;
}
img{
    max-height: 380px;
    max-width: 90%;
}
.profile{
    margin: 10px auto;
    display: block;
    border-radius: 25px;
}
@media (min-width: 900px) {
    .profile{
        float: right;
        margin: 20px;
    }
}
code{
    background-color: var(--bg-code);
    color: var(--white);
}
.code-block{
    display: block;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 14px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
header h1{
    margin:auto;
}
#profile-pic{
    width: 218px;
    height: 314px;
}
.icon{
    max-width: 1em;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    overflow: auto;
}
/* skip to content link */
.skip-link{
    position: absolute;
    top: 0;
    transform: translateY(-300%);
}
.skip-link:focus{
    transform: translateY(0%);
}
.text-center{
    text-align: center;
    display: block;
}
.fit-center{
    width: fit-content;
    margin: auto;
    text-align: left;
}

/* FOOTER */
footer p, footer a{
    margin: 2px;
    overflow: auto;
}

#post-date{
    display: block;
    margin: 10px 0px 0px 0px;
    text-align: center;
}
.update{
    display: block;
    text-align: center;
    color: var(--cyan2);
}
#clipboard{
    display: block;
    margin: auto;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background: var(--magenta1);
    color: white;
}
iframe{
    margin: auto;
    display: block;
    width: 100%;
}
.heads{
    max-width: 130px;
    margin: 20px;
    align-self: center;
}
.heads, .head-links{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.head-links{
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    margin: auto;
}
a, summary{
    box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0);
    transition: box-shadow 0.2s ease-in;
}
a:hover {
    box-shadow: 0px 0px 1px 1px var(--fa-pip2);
}
#head-box-relative{
    position: relative;
}
#head-box{
    position: absolute;
    right: 100px;
}
summary{
    font-size: 20px;
    color: var(--cyan2);
    margin: 20px;
}
details{
    cursor: pointer;
}
summary:hover{
    box-shadow: 0px 0px 1px 1px var(--fa-pip2);
}
details>p, details>ul{
    margin-left: 40px;
}
details details{
    margin-left: 25px;
}