<body>
    <header>
        <nav>
            <a href="/">main</a>
            <a href='/en/articles'>posts</a>
            <a href='/page/portfolio'>code</a>
            <a href='/page/travels'>travels</a>
            <a href='/page/fitness'>fitness</a>
            <a href='/book' target="_blank">book</a>
            <a href='/page/contact'>contact</a>
            <!-- <a onclick="toggle_theme()" id="theme-toggler">Theme: dark</a> -->
            <!-- <a onclick="toggle_filter()" id="filter-toggler">Mode: SAFE</a> -->
          </nav>
  </header>
  <!-- <script src="/scripts/themeMode.js" onload="check_theme();"></script> -->
    <main>
        <section>
            <h1 id="title">{{= title }}</h1>
            {{ content }}
        </section>
    </main>
    <!-- <script src="/scripts/triggerWarning.js" onload="check_filter()"></script> -->
</body>