<body>
    <header>
        <nav>
            <a href="/">🏠 Home</a>
            <a href='/page/portfolio'>💻 Code</a>
            <a href='/page/travels'>🌍 Travels</a>
            <a href='/page/fitness'>💪 Fitness</a>
            <a href='/book' target="_blank">📕 Book</a>
            <a href='/en/articles'>📝 Posts</a>
            <a href='/page/contact'>📩 Contact</a>
            <a onclick="toggle_theme()" id="theme-toggler">Theme: dark</a>
            <a onclick="toggle_filter()" id="filter-toggler">Mode: Trigger-safe</a>
          </nav>
  </header>
  <script src="/scripts/themeMode.js" onload="check_theme();"></script>
    <main>
        <section>
            <h1 id="title">{{= title }}</h1>
            {{ content }}
        </section>
    </main>
    <script src="/scripts/triggerWarning.js" onload="check_filter()"></script>
</body>