<body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    <header aria-label="Title">
        <h1 id="title">{{= title }}</h1>
        <time datetime="{{= date}}" pubdate="pubdate" id="post-date">{{= date}}</time>
    </header>
    <main id="main-content" aria-label="Main content">
        <article>
            {{ content }}
        </article>
    </main>
    <footer aria-label="footer">
        <a href="/">https://denislisunov.xyz</a>
        <p>Powered by <a href="https://github.com/northoc/damp2ph">damp2ph</a></p>
    </footer>
</body>